body {
  background-color: rgb(97, 250, 255);
}

h1 {
  color: rebeccapurple;
  text-align: center;
}

h2 {
  color: rgb(27, 185, 22);
  text-align: right;
}

img.sinistra {
  width: 300px;
  border-radius: 50px;
  float: left;
  margin-right: 15px;
}

em {
  color: red;
}
